body {
  height: 100vh;
  widows: 100vw;
  margin: 0;
  background: #111;
  background: radial-gradient(#111, #000);
  overflow: hidden;
}

.window-container {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.loaded .window-container {
  opacity: 1;
}

.window,
.overlay {
  border: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.cursor {
  /**
   * Adding a transition improves the performance
   * for low-speed connections, but causes unnecesarry
   * lag on higher-end connections
   */
  /* transition: transform 0.05s ease-in-out; */
  transform: translate(0, 0)
}

.pointer {
  background-size: 100%;
  background-image: url('./cursors/unix/default.apng');
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  position: absolute;
  image-rendering: -webkit-optimize-contrast;
  margin-left: -3px;
  margin-top: -1px;
  z-index: 1;
}

.click {
  position: absolute;
  height: 3px;
  width: 3px;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  animation: click;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.07, 0.65, 0.34, 1.01);
  border: 1px solid rgba(63, 81, 181, 0.7);
  transform: scale(4, 4);
}

@keyframes click {
  50% {
    transform: scale(9, 9);
    opacity: 0;
  }
  99% {
    transform: scale(1, 1);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.loader {
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 30vh;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.loaded .loader {
  opacity: 0
}

.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}