# Injectify files
server.config.js
database/*
!database/README.md

# Interface files
interface/assets/css
interface/vs

# Global files
package-lock.json
node_modules
bundle.js

# Linux home-directory files
.bash*
.pm2/*

# Developer tool files & folders
vscode/*
win-unpacked
*.log
*.7z
ResourceHacker.ini