# Injectify files
server.config.js
database/*
!database/README.md

# Typescript
src/**/*.js
src/inject/core/definitions/modules.d.ts

# Modules
!src/inject/core/modules/*/src/**/*
src/inject/core/modules/*/dist

# Interface files
interface/public/assets/css
interface/public/vs

# Global files
node_modules
bundle.js

# Linux home-directory files
.bash*
.zsh*
.pm2
.ssh

# Deployment files
injectify.tar.gz

# Developer tool files & folders
.vscode/*
win-unpacked
*.log
*.7z
ResourceHacker.ini
