---
---
$drawer: 240px;

::-webkit-scrollbar {
	width: 15px;
	background: #FAFAFA;
}

::-webkit-scrollbar-thumb {
	background-color: #9a9898;
	border: 2px solid #FAFAFA;
	border-top: 4px solid #FAFAFA;
	border-bottom: 4px solid #FAFAFA;
	&:hover {
		background-color: #8a8787;
	}
	&:active {
		background-color: #747272;
	}
}

::-webkit-scrollbar-button {
	display: none;
	width: 0;
	height: 0
}

::-webkit-scrollbar-corner {
	background-color: transparent
}

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
}
app {
	header {
		button {
			&.signed-in {
				padding: 4px 16px;
				min-height: 64px;
				max-height: 64px;
				border-radius: 0;
				div[class|='MuiAvatar-root'] {
					width: 35px;
					height: 35px;
					margin-left: 8px;
				}
			}
		}
	}
	li.active {
		background: rgba(64, 80, 181, 0.25);
		&:hover {
			background: rgba(64, 80, 181, 0.35);
		}
		div {
			h3 {
				color: #2c3886
			}
		}
	}
}

.content {
	background-color: #000 !important;
	width: 100% !important;
	padding: 10px !important;
	height: calc(100% - 56px) !important;
	margin-top: 56px !important;
}