---
---
$drawer: 240px;

@media (min-width: 620px) {
	::-webkit-scrollbar {
		width: 15px;
		background: #FAFAFA;
	}
	
	::-webkit-scrollbar-thumb {
		background-color: #9a9898;
		border: 2px solid #FAFAFA;
		border-top: 4px solid #FAFAFA;
		border-bottom: 4px solid #FAFAFA;
		&:hover {
			background-color: #8a8787;
		}
		&:active {
			background-color: #747272;
		}
	}
	
	::-webkit-scrollbar-button {
		display: none;
		width: 0;
		height: 0
	}
	
	::-webkit-scrollbar-corner {
		background-color: transparent
	}
}

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
}

* {
	-webkit-tap-highlight-color: transparent
}
app {
	header {
		button {
			&.signed-in {
				padding: 4px 16px;
				min-height: 64px;
				max-height: 64px;
				border-radius: 0;
			}
		}
	}
	li.active {
		background: rgba(64, 80, 181, 0.25);
		&:hover {
			background: rgba(64, 80, 181, 0.35);
		}
		div {
			h3 {
				color: #2c3886
			}
		}
	}
}
pre {
	&::-webkit-scrollbar {
		background: #282C34;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: #4d525c;
		border: 2px solid #282C34;
		border-top: 4px solid #282C34;
		border-bottom: 4px solid #282C34;
		&:hover {
			background-color: #616770;
		}
		&:active {
			background-color: #353941;
		}
	}

	::selection {
		background: #4d75c5;
	}
	::-moz-selection {
		background: #4d75c5;
	}
	
	code:nth-child(1) {
		user-select: none;
	}
}
.inject-list-container {
	width: 300px;
	z-index: 1;
	box-shadow: -10px 0 5px 10px #191919;
	background: #2f323c;
	.inject-list-header {
		color: #fefeff;
		box-shadow: -24px 3px 8px #2f323c;
		svg {
			vertical-align: middle;
			margin-right: 10px;
			fill: #aaeaad;
		}
	}
	ul li img {
		width: 20px;
		margin-right: 10px;
	}
	h3 {
		color: #cecfe0
	}
	::-webkit-scrollbar {
		background: #2f323c;
	}
	::-webkit-scrollbar-thumb {
		background-color: #4d525c;
		border: 2px solid #2f323c;
		border-top: 4px solid #2f323c;
		border-bottom: 4px solid #2f323c;
		&:hover {
			background-color: #616770;
		}
		&:active {
			background-color: #1E1E1E;
		}
	}
}
.react-monaco-editor-container {
	overflow: hidden;
	margin-top: 24px;
	height: calc(100% - 24px) !important;
}