---
---

$drawer: 240px;

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
}
app {
	header {
		button {
			&.signed-in {
				padding: 4px 16px;
				min-height: 64px;
				max-height: 64px;
				border-radius: 0;
				div[class|='MuiAvatar-root'] {
					width: 35px;
					height: 35px;
					margin-left: 8px;
				}
			}
		}
	}
}
td.time {
	padding: 4px;
}

.content {
	background-color: #000 !important;
	width: 100% !important;
	padding: 10px !important;
	height: calc(100% - 56px) !important;
	margin-top: 56px !important;
}