<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Voakie.com">
		<link rel="apple-touch-icon" sizes="57x57" href="https://voakie.com/favicon/apple-icon-57x57.png?v4">
		<link rel="apple-touch-icon" sizes="60x60" href="https://voakie.com/favicon/apple-icon-60x60.png?v4">
		<link rel="apple-touch-icon" sizes="72x72" href="https://voakie.com/favicon/apple-icon-72x72.png?v4">
		<link rel="apple-touch-icon" sizes="76x76" href="https://voakie.com/favicon/apple-icon-76x76.png?v4">
		<link rel="apple-touch-icon" sizes="114x114" href="https://voakie.com/favicon/apple-icon-114x114.png?v4">
		<link rel="apple-touch-icon" sizes="120x120" href="https://voakie.com/favicon/apple-icon-120x120.png?v4">
		<link rel="apple-touch-icon" sizes="144x144" href="https://voakie.com/favicon/apple-icon-144x144.png?v4">
		<link rel="apple-touch-icon" sizes="152x152" href="https://voakie.com/favicon/apple-icon-152x152.png?v4">
		<link rel="apple-touch-icon" sizes="180x180" href="https://voakie.com/favicon/apple-icon-180x180.png?v4">
		<link rel="icon" type="image/png" sizes="192x192" href="https://voakie.com/favicon/android-icon-192x192.png?v4">
		<link rel="icon" type="image/png" sizes="32x32" href="https://voakie.com/favicon/favicon-32x32.png?v4">
		<link rel="icon" type="image/png" sizes="96x96" href="https://voakie.com/favicon/favicon-96x96.png?v4">
		<link rel="icon" type="image/png" sizes="16x16" href="https://voakie.com/favicon/favicon-16x16.png?v4">
		<link rel="manifest" href="https://voakie.com/favicon/manifest.json?v4">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="https://voakie.com/favicon/ms-icon-144x144.png?v4">
		<meta name="theme-color" content="#ffffff">
		<script src="analytics.js"></script>
		<title>ERROR {{page.code}} - Widgetbot</title>
	</head>
	<body>
		<style>
			html, body {
				margin: 0;
				height: 100%;
				overflow: hidden;
			}
			embed {
				height: 100%;
				width: 100%;
			}
		</style>
		<embed src="https://voakie.com/?v=err&c={{page.code}}" />
	</body>
</html>